<strong>Recuperando senha</strong>

<p>Uma solicitacao de senha foi feita para o email: ({{email}}).</p>

<p>Para continuar com a recuperacao de senha, utilize {{token}} ou clique no link abaixo</p>

<a href="{{ link }}">Criar nova senha</a>
